@font-face {
  font-family: "Space";
  src: url("./assets/SpaceGroteskVariable.ttf") format("truetype-variations");
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-roman.otf") format("opentype-variations");
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: var(--font-family-body--1);
  font-size: var(--font-size-body--1);
  font-weight: var(--font-weight-body--1);
  line-height: var(--line-height-body--1);
  letter-spacing: var(--letter-spacing-body--1);

  font-kerning: normal;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1, "liga" 1;
}

main {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-black: #000;
  --color-gray-dark: #444444;
  --color-gray-middle: #BDBDBD;
  --color-gray-light: #E0E0E0;
  --color-white: #FAFAFA;
  --color-red: #F05555;
  --color-yellow-dark: #B09000;
  --color-yellow-light: #FFD800;
  --color-green-dark: #2D643C;
  --color-green-light: #37DC78;

  --spacing-unit: 8px;
  --spacing--horizontal: calc(var(--spacing-unit) * 2);

  --font-family-display: "Space", Verdana, sans-serif;
  --font-family-body: "Inter", Verdana, sans-serif;

  --font-family-display--1: var(--font-family-display);
  --font-size-display--1: 3rem;
  --font-weight-display--1: bold;
  --line-height-display--1: 117%;
  --letter-spacing-display--1: 0.03rem;

  --font-family-display--2: var(--font-family-display);
  --font-size-display--2: 2rem;
  --font-weight-display--2: bold;
  --line-height-display--2: 117%;
  --letter-spacing-display--2: 0.02rem;

  --font-family-display--3: var(--font-family-display);
  --font-size-display--3: 1.5rem;
  --font-weight-display--3: bold;
  --line-height-display--3: 117%;
  --letter-spacing-display--3: 0.015rem;

  --font-family-display--4: var(--font-family-display);
  --font-size-display--4: 1.25rem;
  --font-weight-display--4: bold;
  --line-height-display--4: 117%;
  --letter-spacing-display--4: 0.0125rem;

  --font-family-body--1: var(--font-family-body);
  --font-size-body--1: 1rem;
  --font-weight-body--1: normal;
  --line-height-body--1: 150%;
  --letter-spacing-body--1: 0.01rem;

  --font-family-body--2: var(--font-family-body);
  --font-size-body--2: .875rem;
  --font-weight-body--2: normal;
  --line-height-body--2: 150%;
  --letter-spacing-body--2: 0.015rem;

  --font-family-body--3: var(--font-family-body);
  --font-size-body--3: .75rem;
  --font-weight-body--3: normal;
  --line-height-body--3: 150%;
  --letter-spacing-body--3: 0.02rem;

  --font-family-body--4: var(--font-family-body);
  --font-size-body--4: .625rem;
  --font-weight-body--4: normal;
  --line-height-body--4: 150%;
  --letter-spacing-body--4: 0.015rem;
}

/* Tablet */
@media(min-width: 768px) {
  :root {
    --spacing--horizontal: calc(var(--spacing-unit) * 4);
  }
}

/* Desktop */
@media(min-width: 1280px) {
  :root {
    --spacing--horizontal: calc(var(--spacing-unit) * 8);
  }
}