/* Foreground */
.foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.foreground--desktop {
  display: none;
}

.phone-content,
.text-content {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.text-content--full {
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 0 var(--spacing--horizontal);
}

/* Background */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: calc(var(--spacing-unit) * 2);
}

.phone-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.phone-section {
  background-color: var(--color-green);
}

.phone-section__content {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  height: 100%;
  max-height: 70vh;
}

.phone__image {
  height: 100%;
  width: auto;
}

.text-content.text-content--full {
  width: 100%;
  margin: 0;
  grid-column: 1 / 3;
  justify-content: start;
  padding: 0 var(--spacing--horizontal);
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  .foreground--mobile {
    display: none;
  }

  .foreground--desktop {
    display: block;
  }

  .foreground-slide {
    position: relative;
    scroll-snap-align: start;
    z-index: 10;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
  }

  .foreground-slide,
  .background {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .phone-section__content {
    width: 40%;
  }

  .phone-content {
    grid-column: 1;
  }

  .text-content {
    grid-column: 2;
    padding: 0 10%;
    color: var(--color-black);
  }

  .text-content-about {
    padding-left: var(--spacing--horizontal);
    display: grid;
    grid-column-gap: 120px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "text image" "cta image";
  }

  .text-content-about__description {
    grid-area: text;
  }

  .text-content-about__image {
    grid-area: image;
  }

  .text-content-about__cta {
    grid-area: cta;

    color: var(--color-white);
    background-color: var(--color-green);
    width: max-content;
    padding: 16px 24px;
  }
}
