.main {
  display: grid;
  justify-items: center;
  align-items: center;
}

.klangfang-icon {
  position: fixed;
  z-index: 10;
  top: calc(var(--spacing-unit) * 2);
}

.klangfang-icon img {
  height: calc(var(--spacing-unit) * 4);
}

.content {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
  color: var(--color-black);
}

.section--green {
  background-color: var(--color-green-light);
}

.section-intro {
  padding-top: calc(var(--spacing-unit) * 6);
  padding-left: calc(var(--spacing-unit) * 2);
  padding-right: calc(var(--spacing-unit) * 2);
  padding-bottom: calc(var(--spacing-unit) * 2);
  min-height: calc(70vh - calc(var(--spacing-unit) * 5));
}

.section-intro__title {
  margin-top: calc(var(--spacing-unit) * 2);
  margin-bottom: calc(var(--spacing-unit) * 2);
}

.section-intro__description {
  margin-top: calc(var(--spacing-unit) * 2);
  margin-bottom: calc(var(--spacing-unit) * 2);
}

.section__phone {
  pointer-events: none;
  background-color: var(--color-green-light);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.section__phone--1 {
  border-radius: calc(var(--spacing-unit) * 2);
  margin: 0 calc(var(--spacing-unit) * 2);
}

.scrolling .section__phone {
  border-radius: calc(var(--spacing-unit) * 0);
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.section-phone__content img {
  display: block;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.section-phone__content {
  position: fixed;
  width: calc(100% - calc(var(--spacing-unit) * 12));
  height: 80vh;
  z-index: 10;

  top: 70vh;
  transition-delay: .1s;
  transition: top .8s ease-in-out;
}

.scrolling .section-phone__content {
  top: calc(var(--spacing-unit) * 10);
}

.last-in-vp .section-phone__content {
  top: -100vh;
}